<h1> username</h1>
<p> <%=  user.name  %> </p>
<h1> bio </h1>
<p> <%=  user.bio  %> </p>
<h1> email </h1>
<p> <%=  user.email  %> </p>
<h1> phone number</h1>
<p> <%=  user.phone  %> </p>

<form method="post" action="/followers">
    <input type="hidden" name="username" value = <%=  user.name  %> />
    <input type="submit" value="Followers">
</form>

<form method="post" action="/followings">
    <input type="hidden" name="username" value = <%=  user.name  %> />
    <input type="submit" value="Followings">
</form>

<h1>Tweets</h1>
<ul>
<% tweets.forEach(function(tweet){ %>
    <li> 
        <h3><%= user.name %> </h3>
        <p> <%= tweet.text %> </p>
    </li>
   
<% }) %>
</ul>
<form method="post" action="/create-tweet">
    <label>Add New Tweet</label>
    <input type="text" name="tweet" >
    <input type="hidden"  name="username" value= <%=  user.name  %> />
    <input type="submit" value="submit">
</form>